:root {
    --primary-text-color: hsl(0, 10%, 90%);
    --primary-background-color: hsl(0, 0%, 0%);
    --my-yellow: hsl(48, 99%, 52%);
    counter-reset: section;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    margin: 1rem;
}

a {
    color: hsl(0, 0%, 100%);
}

header {
    margin-bottom: 8rem;
}

header nav {
    display: grid;
    gap: 1rem;
}

header nav a {
    display: block;
    font-weight: 500;
    background-color: rgb(14, 101, 201);
    text-align: center;
    border: 3px solid rgb(128, 128, 128);
    padding: 0.1rem 0;
    text-decoration: none;
}

header nav a:hover {
    background-color: var(--my-yellow);
    color: hsl(0, 0%, 0%);
}

main {
    margin-bottom: 3rem;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-top: 3px solid rgb(128, 128, 128);
    margin: 0 3rem;
    padding: 3rem 0;
}

footer nav a {
    margin: 0 0.1rem;
    text-decoration: none;
}

footer nav a:hover {
    color: var(--my-yellow);
}

footer .dev {
    font-size: 0.67rem;
}

.section {
    margin-bottom: 10rem;
}

.section__title {
    color: var(--my-yellow);
    display: flex;
    align-items: baseline;
    margin-bottom: 5rem;
}

.section__title::before {
    counter-increment: section;
    content: counter(section, decimal-leading-zero) ".";
    color: var(--primary-text-color);
    font-size: 0.8em;
    font-weight: 500;
    margin-right: 0.5rem;
}

.section__title::after {
    content: "";
    display: inline-block;
    align-self: center;
    flex-grow: 1;
    background-color: hsl(0, 0%, 50%);
    height: 0.0625rem;
    margin-left: 1rem;
}

.intro {
    text-align: center;
}

.intro__img {
    height: 6rem;
    width: auto;
    vertical-align: middle;
}

.intro__about>p {
    margin: initial;
}

.intro__greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__greeting>p {
    display: inline-block;
    background-color: rgb(254, 207, 12);
    color: rgb(0, 0, 0);
    margin: 0.3rem 0;
    padding: 0.3rem 1rem;
    border: 3px solid rgb(128, 128, 128);
    font-weight: bold;
    font-size: 1.7rem;
}

.intro__about {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    margin-top: 3rem;
}

.about {
    margin-bottom: 5rem;
}

.about__title {
    color: var(--my-yellow);
    text-align: center;
    margin-bottom: 3rem;
}

.about__body {
    line-height: 150%;
}

.about__body--tjustify {
    text-align: justify;
}

.about__body--tcenter {
    text-align: center;
}

.project-wrapper {
    display: flex;
    gap: 4rem;
    overflow-x: auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid hsla(0, 0%, 75%, 0.7);
    border-radius: 0.3125rem;
    background-color: hsla(0, 2%, 35%, 0.25);
}

.project-card__img {
    width: 100%;
    height: auto;
    border-radius: 0.3125rem 0.3125rem 0 0;
    flex-shrink: 0;
    object-fit: cover;
}

.project-card__details {
    padding: 2rem 1rem 1rem 1rem;
}

.project-card__description {
    text-align: justify;
    margin-bottom: 2rem;
}

.project-card__links {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.project-card__demo-link {
    text-decoration: none;
    color: hsl(200, 97%, 45%);
}

.project-card__github-link {
    text-decoration: none;
    color: hsl(88, 29%, 44%);
}

.project-card {
    position: relative;
    width: 13.75rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.project-card__bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card__title {
    position: absolute;
    top: 2rem;
    left: 1rem;
    max-width: 50%;
    background: rgba(23, 25, 28, .85);
    font-weight: 700;
    text-align: initial;
    transition: 0.5s;
}

.project-card__touch-screen {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 25, 28, .85);
    font-weight: 700;
    text-align: center;
    padding: 0.2rem 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.project-card:hover .project-card__overlay {
    display: initial;
    opacity: 1;
    transform: translateY(0);
}

.project-card:hover .project-card__title {
    opacity: 0;
}

.project-card__overlay {
    background: rgba(23, 25, 28, .85);
    transition: 0.5s;
    transform: translateY(100%);
}

.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 1rem;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
    background: #7E57C2;
}

.timeline__item {
    position: relative;
}

.timeline__item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.timeline__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #7e57c2, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
    background: #673AB7;
}

.timeline__content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #333C42;
    border-radius: 2px;
    padding: 1em;
}

.timeline__content::before {
    content: "";
    position: absolute;
    top: 0.6rem;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #333C42;
}

.timeline__header {
    margin-bottom: 1rem;
}

.timeline__role {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: initial;
    color: rgba(255, 255, 255, 0.9);
}

.timeline__company {
    font-style: italic;
    margin-bottom: 1rem;
}

.timeline__responsibilities {
    font-size: 0.8125rem;
}

.sendEmail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.sendEmail *::placeholder {
    color: whitesmoke;
}

.sendEmail input, .sendEmail textarea, .sendEmail button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid #1a1a1a;
    color: whitesmoke;
    background: #242424;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    font-family: inherit;
}

.sendEmail textarea {
    height: 10rem;
    resize: none;
}

.sendEmail button {
    cursor: pointer;
}

.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo-wrapper--mb-1 {
    margin-bottom: 1rem;
}

.logo {
    margin: 0.5rem;
}

.logo__link {
    display: block;
    height: 3rem;
    width: auto;
}

.logo__img {
    height: 3rem;
    width: auto;
}

.logo__img--project-overlay {
    height: 1.5rem;
}

.language-wrapper {
    display: inline-block;
}

.language {
    display: flex;
    align-items: center;
}

.language__img {
    height: 2rem;
    width: auto;
    margin-right: 1rem;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.overlay__body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1rem;
}

.overlay__info {
    margin-bottom: 2rem;
    text-align: justify;
}

.overlay__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link--demo {
    text-decoration: none;
    color: hsl(200, 97%, 45%);
}

.link--github {
    text-decoration: none;
    color: hsl(88, 29%, 44%);
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

#notification {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate( 360deg);
    }
}

@media (min-width: 36em) {
    header {
        margin-top: 5rem;
    }
    header nav {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 48em) {}

@media (min-width: 62em) {
    header nav {
        grid-template-columns: none;
        grid-auto-flow: column;
        justify-content: center;
        gap: 2rem;
    }
    header nav a {
        width: 10.649375rem;
    }
    .section {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
    .timeline::before {
        left: 50%;
    }
    .timeline__item::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline__content {
        width: 370px;
        margin: 0 60px;
    }
    .timeline__item:nth-child(even) .timeline__content {
        margin-left: auto;
    }
    .timeline__item:nth-child(odd) .timeline__content::before {
        left: 100%;
        border-right: initial;
        border-left: 7px solid #333C42;
    }
    .timeline__item:nth-child(odd) .timeline__date {
        left: calc(100% + 100px);
    }
    .timeline__item:nth-child(even) .timeline__date {
        right: calc(100% + 100px);
    }
    .timeline__date {
        position: absolute;
        top: 0;
        white-space: nowrap;
    }
}

@media (min-width: 75) {}

@media (min-width: 87.5em) {}

@media (hover: none) {
    .project-card__touch-screen {
        opacity: 1;
        visibility: visible;
    }
    .project-card:hover .project-card__touch-screen {
        opacity: 0;
    }
}